#!/bin/bash
set -euo pipefail
apt-get update && apt-get install -y coturn
cat > /etc/turnserver.conf <<CONF
listening-port=3478
listening-ip=0.0.0.0
fingerprint
use-auth-secret
static-auth-secret=${turn_secret}
realm=${realm}
total-quota=100
no-tcp-relay
min-port=49152
max-port=65535
no-cli
external-ip=${public_ip}/${private_ip}
CONF
sed -i 's/^#TURNSERVER_ENABLED=1/TURNSERVER_ENABLED=1/' /etc/default/coturn
systemctl enable --now coturn
